.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

/* list-style none refers to Not having a default list */

/* display flex align list items next to each other  */

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}